<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
</head>
<body>
   
<p> Read do CRUD </p>
    <table>
        <tr>  
            <td>ID</td>  
            <td>CLIENTE</td>  
            <td>NÚMERO DO CONTEINER</td>  
            <td>TIPO DO CONTEINER</td> 
            <td>STATUS DO CONTEINER</td> 
            <td>CATEGORIA DO CONTEINER</td>  
        </tr>  
{% for conteiner in conteiners %}  
    <tr>  
        <td>{{ conteiner.id }}</td>  
        <td>{{ conteiner.nome_cliente }}</td>  
        <td>{{ conteiner.num_conteiner }}</td>  
        <td>{{ conteiner.tipo_conteiner }}</td> 
        <td>{{ conteiner.status_conteiner }}</td> 
        <td>{{ conteiner.categoria_conteiner }}</td> 
       <td> <a href="{% url 'editar' conteiner.id%}"> Editar </a> </td> 
       <td> <a href="{% url 'delete' conteiner.id%}"> Deletar </a> </td> 
    </tr>  
{% endfor %}  
    </table>
<br>
<p> Create do CRUD </p>
    <form action="{% url 'salvar' %}" method="POST">
        {% csrf_token %}
        Nome do Cliente <br>
        <input type="text" name="nome_cliente"><br>
        Número do Conteiner<br>
        <input type="text" name="num_conteiner"><br>
        Tipo do Conteiner<br>
        <input type="text" name="tipo_conteiner"><br>
        Status do Conteiner<br>
        <input type="text" name="status_conteiner"><br>
        Categoria do Conteiner<br>
        <input type="text" name="categoria_conteiner"><br>
        <button type="submit">Adicionar</button>
    </form>

</body>
</html>