<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
</head>
<body>
   
    {% load static %}
    <link href="{% static "styles.css" %}" rel="stylesheet">
 
<h3> Read do CRUD </h3>
    <table>
        <tr class="margem">  
            <td class="margem">ID</td>  
            <td class="margem">TIPO DE MOVIMENTAÇÃO</td>  
            <td class="margem">DATA DE INÍCIO</td>  
            <td class="margem">DATA DE CONCLUSÃO</td> 
        </tr>  
{% for movimentacao in movimentacoes %}  
    <tr class="margem">  
        <td class="margem">{{ movimentacao.id }}</td>  
        <td class="margem">{{ movimentacao.tipo }}</td>  
        <td class="margem">{{ movimentacao.data_inicio }}</td>  
        <td class="margem">{{ movimentacao.data_fim }}</td> 
       <td class="margem"> <a href="{% url 'editar' movimentacao.id%}"> Editar </a> </td> 
       <td class="margem"> <a href="{% url 'delete' movimentacao.id%}"> Deletar </a> </td> 
    </tr>  
{% endfor %}  
    </table>
<br>
<h3> Create do CRUD </h3>
    <form action="{% url 'salvar' %}" method="POST">
        {% csrf_token %}
        Tipo de Movimentação <br>
        <input type="text" name="tipo"><br>
        Data de Início<br>
        <input type="datetime-local" name="data_inicio"><br>
        Data de Conclusão<br>
        <input type="datetime-local" name="data_fim"><br>
 
        <button type="submit">Adicionar</button>
    </form>

</body>
</html>